.badge-wrapper {
    padding: 20px 0;
}

.container {
    padding-bottom: 5px;
}

.allTask{
    padding-top: 20px;
}

h3 {
    max-width: 1200px;
  padding: 0.85em;
  margin-bottom: 0.5rem;
  background: #4FD1C5;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #f50000;
}

h2 {
    max-width: 1200px;
  padding: 0.85em;
  text-align: center;
  margin-bottom: 0.5rem;
  background: #81E6D9;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #ff0000;
}

p {
    max-width: 1200px;
  padding: 0.85em;
  text-align: center;
  margin-bottom: 0.5rem;
  background: #B2F5EA;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #ff0000;
}